# compiled python code
*.pyc

# vim temporary backup
.*.sw*

# binary executables
pdb2fasta
reindex_pdb
strip_sidechain
split_chain
BackboneTorsion
SidechainTorsion
pdb2sarst
pdb2ThreeDblast
NWalign
SarstAlign
ThreeDblastAlign
pdb2rmsd
